@media(max-width: 1120px) {
    .slider::before,
    .slider::after,
    .footer::after,
    .footer::before {
        display: none;
    }
}

@media(max-width: 930px) {
    .works__inner {
        flex-wrap: wrap;
        margin-top: 0;
        justify-content: space-around;
    }
    .works__content {
        margin-left: 6px;
        margin-top: 20px;
    }
    .works__title {
        margin-bottom: 0;
    }
    .content .container {
        margin-top: 20px;
    }
    .works .container {
        margin-top: 20px;
    }
    .footer .container {
        margin-top: 20px;
    }
}

@media(max-width: 855px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .content__inner {
        margin-right: 15px;
    }
}

@media(max-width: 845px) {
    .content .container {
        flex-wrap: wrap;
        margin-top: 0;
        padding-right: 0;
    }
    .content__title {
        margin-top: 20px;
    }
}

@media(max-width: 830px) {
    .footer__section--about {
        max-width: 100%;
    }
}

@media(max-width: 641px) {
    .content__inner {
        align-items: center;
        max-width: 100%;
        margin-left: 5px;
    }
    .content__title {
        text-align: justify;
        margin-bottom: 0;
    }
    .content__description {
        text-align: justify;
        padding-right: 0;
    }
    .content__button {
        align-self: center;
    }
}

@media(max-width: 600px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu ul {
        display: none;
        position: absolute;
        z-index: 2;
        top: 42px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 2px solid #000;
    }
    .header__menu li {
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .header__menu a {
        padding: 5px 0px;
        display: block;
    }
    .header__menu li+li a {
        border-top: 1px solid;
    }
    .slick-next,
    .slick-prev {
        padding: 9px;
    }
}

@media(max-width: 570px) {
    .footer__section {
        max-width: 100%;
    }
    .footer__icons-list {
        padding-right: 10px;
    }
}

@media(max-width: 500px) {
    .slider__box {
        right: 36px;
    }
}

@media(max-width: 440px) {
    .content__inner .content__title::before {
        padding-right: 10px;
    }
}

@media (min-width:600px) {
    .header__menu ul {
        display: block !important;
    }
}